@charset "utf-8";

$primary-color: #006DB3;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #BF360C;

nav {
  div {
    @extend .nav-wrapper;
  }
  a {
    @extend .brand-logo;
    @extend .center;
    font-weight: 300;
    text-transform: uppercase;
  }
}

/**
    Map
 */
#map {
  height: 50vh;
  width: 100%;
}

/**
    Attribution Text Color
 */
.leaflet-container a {
  color: #003451;
}

footer {
  @extend .page-footer;
  @extend .footer-copyright;
  @extend .center;
  a {
    @extend .white-text;
  }
  padding-bottom: 20px;
}

@import "vendor/materialize";