@charset "utf-8";
/* CSS Document */

/*
The Breakpoints will be:
480px (m)
780px (m)
1280px (m)
*/
$primary-color: #006db3;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #BF360C;

/* Main Container */

/* Map Container */
/* Map Div */

#map {
  height: 50vh;
  width: 100%;
}

/* Attribution */
.leaflet-container a {
  color: #003451;
}