@charset "utf-8";

$primary-color: #006DB3;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: #BF360C;

footer {
  @extend .page-footer;
}


/**
    Map
 */
#map {
  height: 50vh;
  width: 100%;
}

/**
    Attribution Text Color
 */
.leaflet-container a {
  color: #003451;
}

@import "vendor/materialize";