@charset "utf-8";
@import "app";

section.filter {
  background: $primary-color;
  select {
    display: inline-block;
  }
  i {
    color: white;
  }
}

#restaurants-grid {
  @extend .container;
  @extend .row;

  .restaurant-item-wrapper {
    @extend .col;
    @extend .s12;
    @extend .m6;
    @extend .l4;

    .restaurant-item {
      @extend .card;
      padding: 0 0 10px 0;

      .image {
        @extend .card-image;
      }
      .title {
        @extend .card-title;
        padding: 12px $card-padding 0;
        display: inline-block;
      }
      .content {
        @extend .card-content;
      }
      .action {
        @extend .card-action;
        @extend .center;
        a {
          color: $secondary-color;
        }
      }
    }
  }
}